<section class="footer">
            <ul>
                <li><a href="https://www.facebook.com/asterixobelixofficiel" target="_blank" rel="noopener" title="Facebook"><i class="bi bi-facebook footer-icon" alt="logo facebook"></i></a></li>
                <li><a href="https://www.instagram.com/parcasterix/" target="_blank" rel="noopener" title="Instagram"><i class="bi bi-instagram footer-icon" alt="logo instagram"></i></a></li>
                <li><a href="https://x.com/asterixofficiel" target="_blank" rel="noopener" title="Twitter"><i class="bi bi-twitter footer-icon" alt="logo twitter"></i></a></li>
            </ul>
</section>
