<main class="main-container">
    <h2>A propos de notre petit village</h2>
    <div class="village">
    <img src="./assets/image/Village.jpg" alt="image du village gaulois">
    </div>
    <section class="presentation">
        <p><strong>Au Petit Village est une entreprise artisanale spécialisée dans la création de
          figurines de collection inspirées des célèbres aventures d'Astérix le Gaulois.</strong><br>

          Nous nous adressons principalement à une génération d'adultes âgés de 30 à 55 ans, qui,
          bercés par les récits mythiques des irréductibles Gaulois, ressentent aujourd'hui l'envie
          de renouer avec ces souvenirs d'enfance.<br>

          Notre entreprise s'efforce de recréer cet univers avec minutie et passion à travers des figurines
          finement détaillées qui capturent l'essence des personnages et des scènes iconiques de cette bande
          dessinée culte. Que ce soit pour les amateurs de bandes dessinées, les collectionneurs ou ceux qui
          souhaitent simplement se replonger dans l'esprit gaulois,nos produits apportent une touche de nostalgie
          et de magie à leur quotidien. <br>

          L'objectifs d' <strong>'Au Petit Village'</strong> vise à devenir la référence pour les passionnés de l’univers d’Astérix,
          en proposant des figurines qui non seulement rappellent les souvenirs de lecture des albums, mais qui deviennent aussi
          des objets de décoration intemporels. Nous voulons permettre à notre clientèle de revivre l’atmosphère gauloise et
          de retrouver le sourire à chaque fois qu’ils posent les yeux sur nos créations.<br>

        <strong>Au Petit Village, c'est l'endroit où les souvenirs prennent vie, et où chaque figurine raconte une nouvelle histoire
          des aventures légendaires d’Astérix et de ses amis.</strong>
        </p>

      </section>
</main>

